body {
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}


header {
    background-color: rgb(79 182 213);
    display: block;
    /*border: 1px solid black;*/
    height: 10vh;
}

#logo {
    /*margin-left:5%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: rgb(236, 159, 17);
}

#txtField {
    width: 70%;
    height: 10%;
    border:1px solid rgb(255, 255, 255);
    background-color: rgb(236, 159, 17);
    color:white;
}

#truncResult {
    width: 70%;
    height: 10%;
    border: 1px solid rgb(255, 255, 255);
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    background-color: rgb(106, 125, 0);
    color: white;
    padding: 10px 34px;
    border: none;
   

}